@media (max-width:480px) {
        /* font family */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');

    /* All element */
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    .container{
        width: 90%;
        margin: auto;
        background: rgba(235, 224, 224, 0.2);
        padding: 10px;
        border-radius: 10px;
    }
    .org-color{
        color:orange;
        font-weight: bold;
    }
    /* heading */
    .heading-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .heading-container h3{
        font-size: 1.4em;
    }
    .menu-item{
        display: flex;
        list-style: none;
    }
    .menu-item li{
        margin: 0 5px;
        font-size: 1.2em;
        font-weight: 600;
    }
    .menu-item li a{
        text-decoration: none;
        color: rgb(24, 22, 22);
    }

    /* ----Influencer Admit---- */
    .inf-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    /*.inf-container .items{
        width: 50%;
    }
    .inf-mr{
    margin-right:180px;
    }*/

    .inf-container>.items > h2{
    font-size: 1.7em;
    }
    .inf-container>.items > p {
        margin-bottom: 30px;
        font-weight: 500;
    }
    /* .sub-button */
    .sub-button {
        background: #E02C6D;
        color: white;
        padding: 12px;
        font-weight: 500;
        width:180px;
        border-radius: 10px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .inf-container>.items img{
        background: url(images/Circle\ design.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90%;
        width: 90%;
    }


    /* Collection section */
    .col-title{
        text-align: center;
        color: #3A3A3A;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .collection-items{
        margin: 20px 5%;
        /*display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;*/
    }
    .item-container{
        padding: 10px;
        margin: auto;
        margin-bottom: 30px;
        width: 300px;
        height: 440px;
        border-radius: 10px;
        box-shadow: -1px 1px 20px rgba(97, 89, 89, 0.377);
    }
    .item-container > img{
        height: 250px;
        width: 296px;
        margin-bottom: 0;
    }
    .item-container h3{
        margin:5px 0; 
        font-size: 1.5em;
        font-weight: 500;
    }
    .item-container p{
        margin: 8px 0;
        font-weight: 500;
    }
    .item-container p>i{
        color: orange;
    }
    .item-container p>span{
        margin-left: 20px;
    }
    .clr-gray{
        color: #787885;
    }
    .see-more{
        text-align: right;
        color: #E02C6D;
    }
    .see-more span{
        margin-right: 8%;
        margin-top: 50px;
    }
    .see-more-btn{
        text-decoration: none;
        color: #E02C6D;
    }

    /*  */

    .wild{
        margin-top: 80px;
    }
    .wild-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }/*
    .wild-container .items{
        width: 50%;
    }*/
    .wild-container .items img{
        height: 250px;
        width: 400px;
        margin: auto;
        border-radius: 10px;
    }
    .wild-container>.items > h2{
        font-size: 50px;
        margin: 0;
    }
    .wild-container>.items > p {
        margin-bottom: 30px;
        font-weight: 500;
    }

    /* footer */
    footer{
        text-align: center;
        background-color: #0A0826;
        margin-top: 70px;
        padding: 10px;
        color: white;
    }
    footer h3{
        font-size: 1.4em;
    }
    footer p{
        font-size: .7em; 
    }
    footer ul{
        display: flex;
        list-style: none;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
    }
    footer ul li{
        margin: 0 7px;
        width: 20px;
        height: 20px;
        background: #13103d;
        padding: 5px 5px 7px 5px;
        border-radius: 50%;
    }
    footer ul li a{
        text-decoration: none;
        color: white;
    }
    /*
    /* @media (max-width:480px) {
        .container{
            width: 440px;
            margin: auto;
        }
        .menu-item li{
            margin: 0 10px;
            font-size: 1.2em;
            font-weight: 600;
        }
        .inf-container{
            display: flex;
            flex-direction: column-reverse;
        }
    } */
}